# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [1]:
# print two or more values using single statement
print(1,2)

1 2

In [2]:
# print the name of your country
print("Pakistan")

Pakistan

In [3]:
# print your date of birth
print("10 April 2001")

10 April 2001

In [4]:
# print your name, age and height using one print statement
print("Name: Sania Khalid, Age: 22 years, Height: 5'2")

Name: Sania Khalid, Age: 22 years, Height: 5'2

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [17]:
# what will be the type of '5'
type(5)
type('5')
print(type(5),
type('5'))

# what is type of 9.3333333333
type(9.3333333333)

<class 'int'> <class 'str'>

float

In [18]:
#print the type of (), [], {} 
type(())
type([])
type({})
print(type(()), type([]), type({}))

<class 'tuple'> <class 'list'> <class 'dict'>

In [19]:
# what is output of type(range(5))
type(range(5))

range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [21]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [22]:
# to print the name you can use print statement
print(name)

Ahmed

In [24]:
# print the values of age and height
print(age)
print(height)

20
3.5

In [29]:
# print all three values using single print statement
print(f"Name: {name}, Age: {age}, Height: {height}")

Name: Ahmed, Age: 20, Height: 3.5

In [32]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print(1000000)

1 0 0
1000000

In [2]:
# Store three integers in x,y,z and print them using single print statement.
x = 10
y = 20
z = 30

print(f"x = {x}, y = {y}, z = {z}")

x = 10, y = 20, z = 30

In [5]:
# var1 = 121.25
# print type of var1
var1 = 121.25
type(var1)

float

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [18]:
#what will happen
#47name = 'Pakistan'
#name@ = 'Pakistan'
#class = 'Pakistan'
#myname = 'kamran'
#first_val = 10
#string = 'abc'
#print(first_val)
#print(string)
#print(myname)
print("First 3 variable names are not valid but last 3 are..")

First 3 variable names are not valid but last 3 are..

It turns out that class is one of Python’s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [19]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [21]:
#print 200+323-433
print(200+323-433)

90

In [22]:
# print (2+1)*(8-6)
print((2+1)*(8-6))

6

In [23]:
# print no of bytes in 1KB using exponentiation operator
print(f"1KB is equal to {2**10} bytes)

1KB is equal to 1024 bytes

In [24]:
# print(2*3**3*4)
print(2*3**3*4)

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [2]:
# execute the following statements and see the output
#5
#x = 5
#x + 1
print("The difference between among statements is that first statement is a literal and second statement is assignment statement")

The difference between among statements is that first statement is a literal and second statement is assignment statement

In [9]:
# what is output of
#y = 10
#x = y+= 2
#print(x)
print("Above statements will not execute as assignment and increment operator is not allowed in python")

Above statements will not execute as assignment and increment operator is not allowed in python

In [14]:
# Store three integers in x,y,z and print their sum and product.
x=10
y=20
z=30
print(f"Sum is {x+y+z}")
print(f"Product is {x*y*z}")

Sum is 60
Product is 6000

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [22]:
# write output of the following commands without excuting it
#print (2*(3-1))
#print ((1+1)**(5-2))
#print (2**1+1)
#print (3*1**3)
print("Output of commands is: 4, 8, 3, 3")

Output of commands is: 4, 8, 3, 3

# 10. String operations

In [56]:
first = 10
second = 20
print (first + second)

30

In [57]:
first = '10'
second = '20'
print (first + second)

1020

In [58]:
print ("hello" * 3 )

hellohellohello

In [23]:
# print your name 10 times
print("Sania Khalid " *10)

Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid

In [25]:
# What is output of var="James"*2*3
var="James"*2*3
print(var)

JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [61]:
name = input("please enter name: ")
print (name)

KeyboardInterrupt: Interrupted by user

In [31]:
# wirte a program which take age from user and concate it three time
age = input("Please enter your age:  ")
print(age*3)

Please enter your age:  12
121212

In [34]:
# Write a program to accept two numbers from the user and calculate multiplication.
a = int(input("Please enter first number"))
b = int(input("Please enter second number"))
print(a*b)

Please enter first number2
Please enter second number2
4

In [36]:
# modify this code so that it prints 121212 instead of 36
# age=12
# print(age*3)
age=12
print(int(age)*3)

36

# 12. Type Casting

In [37]:
a = '10'
print (a)

10

In [43]:
print(int(a))
str(a)

10

'10'

In [44]:
# take an integer from user and multiply it with 15
number = int(input("Kindly enter an integer: "))
print(number *15)

Kindly enter an integer: 2
30

In [50]:
num_int = 123
num_str = "456"
print(f"Both as integer:   {num_int + int(num_str)}")
print(f"Both as strings:  {str(num_int) + num_str}")
# Find the sum of these 2 variables

Both as integer:   579
Both as strings:  123456

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [51]:
name = input("Enter your name:    ")
print(f"Hello {name} ")

Enter your name:    Sania Khalid
Hello Sania Khalid

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [58]:
hours = int(input("Enter hours:  "))
Rate = float(input("Enter rate per hour:  "))
print(f"Pay is {hours * Rate} ")

Enter hours:  35
Enter rate per hour:  2.75
Pay is 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

In [62]:
width = 17
height = 12.0
half_int = width /2
half_float = width /2.0
triple_height = height /3
values = half_int + half_float * triple_height
print(f"Value of 1 is:  {half_int}")
print(f"Value of 2 is:  {half_float}")
print(f"Value of 3 is:  {triple_height}")
print(f"Value of combine is:  {values}")
type(half_int)
type(half_float)
type(triple_height)
type(values)
print(type(half_int), type(half_float), type(triple_height), type(values))

Value of 1 is:  8.5
Value of 2 is:  8.5
Value of 3 is:  4.0
Value of combine is:  42.5
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [63]:
celsius_temperature = float(input("Enter a temperature in Celsius: "))
fahrenheit_temperature = (celsius_temperature * 9/5) + 32
print(f"{celsius_temperature} degrees Celsius is equal to {fahrenheit_temperature} degrees Fahrenheit")

Enter a temperature in Celsius: 32
32.0 degrees Celsius is equal to 89.6 degrees Fahrenheit